body{
    margin: 0;
}
.buton
{
        width: 100px;
        height: 100px;
        border: none;
        display: inline-block;
}
#one{
    background-color: yellow;
}
#two{
    background-color: green;
}
#three{
    background-color: red;
}
#four{
    background-color:blue;
}